body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-image: url(../../images/LogoPlatja.webp);
   background-position: 100%;
   background-size: cover;
}

.botó {
   color: #000;
   font-size: 24px;
   border-radius: 15px;
   padding: 30px;
   margin-top: 50px;
}

a {
   text-decoration: none;
}



.aniversari img {
   width: 400px;
   object-fit: cover;
}

/* Estil per al marc del carrusel */
.slider-frame {
   width: 100%;
   overflow: hidden;
}

/* Estil per a la llista d'elements del carrusel */
.slider-frame__ul {
   display: flex; /* Per a un carrusel horitzontal */
   list-style: none;
   padding: 0;
   margin: 0;
   transition: transform 0.3s ease-in-out; /* Transició per als canvis de diapositives */
}

/* Estil per a cada element de la llista (diapositiva) */
.slider-frame__ul__li {
   flex: 0 0 auto;
}

/* Estil per a les imatges dins de cada diapositiva */
.slider-frame__ul__li--img {
   max-width: 100%;
   height: auto;
}

/* Altres estils (boto, etc.) ... */